body {
  background-color: darkgray;


}

fieldset {
  margin: 0 auto;
  width: 50%;
  border: 1px solid rgb(120, 120, 148);
  padding: 20px;
  background-color: rgb(98, 109, 156);
}
legend {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #2d3748;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 22.5px;
  color: rgb(10, 73, 39);
}
form {
  margin: 0 auto;
  width: 50%;
  border: 1px solid rgb(216, 216, 223);
  padding: 20px;
  background-color: rgb(87, 117, 129);
}

label {
  display: inline-block;
  width: 120px;
  font-weight: bold;
  color: #2d3748;
}

input[type="text"], input[type="email"], input[type="date"], input[type="password"], input[type="tel"] {
  width: 70%;
  padding: 10px;
  border: 1px solid rgb(157, 157, 185);
  border-radius: 5px;
  margin-bottom: 15px;
  color: #2d3748;
}

input[type="submit"], input[type="reset"] {
  background-color: rgb(103, 103, 130);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: all 0.3s ease;
}

input[type="submit"]:hover, input[type="reset"]:hover {
  background-color: rgb(51, 51, 77);
}